<%= render 'nav' %>


<div id = 'jumbotron'
    <h2>''</h2>
    <h1>h1. You've got a huge Headline.</h1>
    <h2 class="subheader">h2.subheader</h2>
    <a href="#" class="button">Default Button</a>
</div>


<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
  <li><a href="http://osvaldas.info/incoming/images/blog/image-lightbox-responsive-touch-friendly-1.jpg"><img src="http://osvaldas.info/incoming/images/blog/image-lightbox-responsive-touch-friendly-1.jpg"></a><!-- Your content goes here --></li>
  <li><a href="http://osvaldas.info/incoming/images/blog/image-lightbox-responsive-touch-friendly-1.jpg"><img src="http://osvaldas.info/incoming/images/blog/image-lightbox-responsive-touch-friendly-1.jpg"></a><!-- Your content goes here --></li>
  <li><a href="http://osvaldas.info/incoming/images/blog/image-lightbox-responsive-touch-friendly-1.jpg"><img src="http://osvaldas.info/incoming/images/blog/image-lightbox-responsive-touch-friendly-1.jpg"></a><!-- Your content goes here --></li>
  <li><a href="http://osvaldas.info/incoming/images/blog/image-lightbox-responsive-touch-friendly-1.jpg"><img src="http://osvaldas.info/incoming/images/blog/image-lightbox-responsive-touch-friendly-1.jpg"></a><!-- Your content goes here --></li>
  <li><a href="http://osvaldas.info/incoming/images/blog/image-lightbox-responsive-touch-friendly-1.jpg"><img src="http://osvaldas.info/incoming/images/blog/image-lightbox-responsive-touch-friendly-1.jpg"></a><!-- Your content goes here --></li>
  <li><a href="http://osvaldas.info/incoming/images/blog/image-lightbox-responsive-touch-friendly-1.jpg"><img src="http://osvaldas.info/incoming/images/blog/image-lightbox-responsive-touch-friendly-1.jpg"></a><!-- Your content goes here --></li>
  <li><a href="http://osvaldas.info/incoming/images/blog/image-lightbox-responsive-touch-friendly-1.jpg"><img src="http://osvaldas.info/incoming/images/blog/image-lightbox-responsive-touch-friendly-1.jpg"></a><!-- Your content goes here --></li>
  <li><a href="http://osvaldas.info/incoming/images/blog/image-lightbox-responsive-touch-friendly-1.jpg"><img src="http://osvaldas.info/incoming/images/blog/image-lightbox-responsive-touch-friendly-1.jpg"></a><!-- Your content goes here --></li>

</ul>

<div class="flex-video widescreen vimeo">
  <iframe src="http://player.vimeo.com/video/60122989" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>