<%= render 'nav' %>


<div id = 'jumbotron'
    <h2>''</h2>
    <h1>h1. You've got a huge Headline.</h1>
    <h2 class="subheader">h2.subheader</h2>
    <a href="#" class="button">Default Button</a>
</div>

<ul class="clearing-thumbs" data-clearing>
  <li><a href="http://osvaldas.info/incoming/images/blog/image-lightbox-responsive-touch-friendly-1.jpg"><img src="http://osvaldas.info/incoming/images/blog/image-lightbox-responsive-touch-friendly-1.jpg"></a></li>
  <li><a href="http://osvaldas.info/incoming/images/blog/image-lightbox-responsive-touch-friendly-1.jpg"><img src="http://osvaldas.info/incoming/images/blog/image-lightbox-responsive-touch-friendly-1.jpg"></a></li>
  <li><a href="http://osvaldas.info/incoming/images/blog/image-lightbox-responsive-touch-friendly-1.jpg"><img src="http://osvaldas.info/incoming/images/blog/image-lightbox-responsive-touch-friendly-1.jpg"></a></li>
</ul>